.blockquote {
  --inline-space: 1em;
  display: block;
  padding: 0.2em var(--inline-space);
  margin-inline-start: calc(-1 * var(--inline-space));
  margin-inline-end: calc(-1 * var(--inline-space));

  border-left: 4px solid #0f0a84;
  background-color: #f6f6fd;
}
