{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "rules": {
    "semi": ["error", "never"],
    "object-property-newline": 2,
    "jsx-quotes": ["error", "prefer-single"],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ]
  }
}
