{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks", "prettier"],

  "react": {
    "version": "detect"
  },
  "env": {
    "es2017": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-fragments": 0
  }
}
