.metaData {
  display: inline-block;
  padding: 0.3em;
  color: #423f84;
  background-color: #f0efff;
  font-size: 0.75em;
  line-height: 1;
  border-radius: 0.3em;
}

.blogContentSection {
  flex-grow: 1;
}

.mainBlog {
  display: flex;
  flex-direction: column;
  padding-block-end: 0em !important;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 4em;
}

.navLinks:hover {
  background-color: #f0f0ff;
}
.navLinks {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  transition-property: color, background-color !important;
}

.navLinks:nth-child(1) {
  justify-content: flex-start;
  padding-inline-start: 1em !important;
}

.navLinks:nth-child(2) {
  justify-content: flex-end;
  padding-inline-end: 1em !important;
}
