.container {
  padding-block-end: 1.5rem;
  padding-block-start: 1.5rem;
  border-block-end: 1px solid var(--secondary-200);

  display: block;
  color: inherit;
  text-decoration: none;
}

.title {
  margin-block-end: 0;
  margin-block-start: 0;
}

.date {
  font-size: 0.8em;
  color: var(--grey-400);
}
