.all-projects-list {
  list-style: none;
  padding-left: 0;
}
.all-projects-list li {
  margin-top: 2rem;
}
.all-projects-list li p {
  font-size: smaller;
}
.all-projects-list li a {
  font-family: 'Circular Std Bold';
}
