.allProjectsList {
  --space: 1.4em;
  margin-block-start: 1em;
  margin-block-end: 1.8em;
}

.innerProjects {
  border: 1px solid #dadada;
  display: inline-block;
  border-radius: var(--radius);
  max-width: 100%;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.projectLink {
  display: block;
  margin: 0;
  box-sizing: border-box;
  padding: var(--space);
  width: 56ch;
  max-width: 100%;

  font-weight: bold;
  border-radius: var(--radius);

  transition: 190ms ease;
  transition-property: box-shadow;
  font-size: 0.9em;
}

.projectLink:hover {
  box-shadow: 0 0 2px 0px rgb(37, 27, 249),
    0 1px 16px -4px rgba(37, 27, 249, 0.33);
  color: inherit !important;
}

.projectItem:not(:first-child) {
  margin-top: 0.2em;
}

.linkDesc {
  margin-top: 0.6em;
  margin-bottom: 0;
  font-size: inherit !important;
}

.badge {
  font-size: 65%;
  padding: 4px 6px;
  color: var(--grey-500);
  border-radius: 18px;
  border: 1px solid;
  text-transform: uppercase;
  margin-inline-end: 6px;
  line-height: 1;
}
