:root {
  --color-primary: #0f0a84;
  --color-secondary: #251bf9;
  --color-dark: #101010;
  --color-light: #f7f7f9;

  --transition: 0.2s ease;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-height: 100vh;

  line-height: 1.5;

  font-family: 'Circular Std', Roboto, 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
}
#___gatsby > div {
  min-height: 100vh;
  background-color: white;
}

body,
#___gatsby > div {
  font-size: 16px;
  color: var(--color-dark);

  display: flex;
  flex-direction: column;
}

.container-md {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 920px;
}

h1,
h2 {
  color: var(--color-dark);
  margin-top: 3rem;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: var(--color-secondary);
  padding: 0.6rem;
  transition: color var(--transition);
}
a.inline {
  padding: 2px;
  text-decoration: underline;
}
a.dark {
  color: var(--color-dark);
}
a:hover,
a.dark:hover {
  color: var(--color-primary);
}

.text-sm {
  font-size: smaller;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  display: inline-block;
  margin: 0 0.4em;
}
.navigation ul li a {
  display: block;
  color: var(--color-secondary);
}
.navigation.dark ul li a {
  color: var(--color-dark);
}
.navigation ul li a.active,
.navigation ul li a.active:hover {
  color: var(--color-dark);
}
.navigation.dark ul li a.active,
.navigation.dark ul li a.active:hover {
  color: var(--color-secondary);
}
.navigation ul li a:hover,
.navigation.dark ul li a:hover {
  color: var(--color-primary);
}

.main {
  flex-grow: 1;
  padding: 3rem 0;
}
.section a {
  padding-left: 0;
}
.section p {
  margin-top: 0.5em;
}
.section-title {
  margin-top: 0;
}

.section:not(:first-child) {
  margin-top: 3rem;
}

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local('Circular Std Book'),
    url('../../assets/fonts/CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: local('Circular Std Bold'),
    url('../../assets/fonts/CircularStd-Bold.woff') format('woff');
}
