.text {
  width: 55ch;
  max-width: 100%;
  line-height: 1.4;
}

.text.normal {
  font-weight: normal;
}
.text.bold {
  font-weight: bold;
}

.text.color-inherit {
  color: inherit;
}
.text.color-default,
.text.color-dark {
  color: var(--grey-900);
}
.text.color-light {
  color: var(--blue-100);
}
.text.color-grey {
  color: #6c757d;
}
.text.color-primary {
  color: var(--blue-700);
}
.text.color-secondary {
  color: var(--blue-500);
}

.text.inherit {
  font-size: inherit;
}
.text.md {
  font-size: 1.2rem;
}
.text.sm {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .text.md {
    font-size: 1.4rem;
  }

  .text.sm {
    font-size: 1.2rem;
  }
}
