.p {
  max-width: 54ch;
}
.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: start;
  align-items: center;
  margin: 32px 0 24px;
}
@media (min-width: 767px) {
  .about {
    grid-template-columns: 90px 54ch;
  }
  .about p {
    margin: 0;
  }
}
.about p {
  margin: 0 0 24px 0;
}
.about img {
  height: 70px;
}
