.p {
  max-width: 54ch;
}
.short-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: start;
  align-items: center;
  margin: 24px 0 32px;
}
.short-about p {
  margin: 0 0 24px 0;
}
.short-about img {
  height: 70px;
}

@media (min-width: 767px) {
  .short-about {
    grid-template-columns: 90px 54ch;
    grid-gap: 2rem 1rem;
  }
  .short-about p {
    margin: 0;
  }
}
