.ham.ham {
  padding: 1em;
  border: 1px solid var(--color-primary);
  margin-block-end: 0.6em;
  border-radius: 2px;
}
.ham:hover {
  background-color: var(--secondary-200);
}

.bar:not(:last-child) {
  margin-block-end: 6px;
}

.bar {
  width: 24px;
  height: 2px;
  background-color: var(--color-primary);
}
@media (min-width: 767px) {
  .ham {
    display: none;
  }
}
