.header {
  border-bottom: 1px solid var(--color-light);
  background-color: rgba(255, 255, 255, 0.95);

  position: sticky;
  top: 0;
}

.innerHeader.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 60px;
  padding-top: 8px;
}

.websiteTitle {
  text-align: center;
  margin: 0;
  line-height: 1;
}
.linkLogo {
  font-size: 1.8rem;
  display: inline-block;
  margin-left: -0.4rem;
  color: var(--color-dark);
}
@media (min-width: 577px) {
  .linkLogo {
    font-size: 2.2rem;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 16px;
  max-width: 396.5px;
}

@media (min-width: 767px) {
  .navigation {
    max-width: unset;
    justify-content: center;
    flex-grow: 0;
  }
}

.navAnchor.navAnchor {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  font-size: 16px;

  --header-nav-color: var(--color-dark);
  color: var(--header-nav-color);
}

.navAnchor:hover {
  --header-nav-color: var(--color-primary);
}

.navAnchor.active,
.navAnchor.active:hover {
  --header-nav-color: var(--color-secondary);
}

.navAnchor:after {
  --height: 3px;

  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  height: var(--height);
  width: var(--height);

  border-radius: calc(var(--height) * 2) calc(var(--height) * 2) 0 0;
  background-color: var(--header-nav-color);

  transition: 250ms ease;
  transition-property: opacity, width, border-radius;
}

.navAnchor:hover:after,
.navAnchor.active:after {
  opacity: 1;
  width: 100%;
}

@media (min-width: 576px) {
  .navAnchor.navAnchor {
    margin: 0 1rem;
  }
}
