.header {
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-light);
}
.header > .container-md {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header .website-title {
  text-align: center;
  margin: 0;
}
.header .website-title .link-logo {
  font-size: 2.2rem;
  font-family: 'Circular Std Bold';
  color: var(--color-dark);
  display: inline-block;
}
.header .website-title .link-logo:hover {
  color: var(--color-secondary);
}

.header .navigation ul li a,
.header .navigation ul li,
.header .navigation ul {
  height: 100%;
}
.header .navigation ul li a {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  padding: 0;
  margin: 0 0.6rem;
}
.header .navigation ul li a:before {
  content: '';

  --size: 4px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-primary);

  opacity: 0;
  transition: opacity 210ms ease;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header .navigation ul li a:hover:before {
  opacity: 1;
}
.header .navigation ul li a.active:hover:before {
  display: none;
}
.header .navigation ul li a.active {
  position: relative;
}
.header .navigation ul li a.active:after {
  --height: 3px;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--height);
  background-color: var(--color-secondary);
  border-radius: calc(var(--height) * 2) calc(var(--height) * 2) 0 0;
}
