.header {
  --nav-height: 52px;
  border-bottom: 1px solid #f7f7f9;
  background-color: rgba(255, 255, 255, 0.95);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.innerHeader.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  height: var(--nav-height);
  background-color: white;
}

.websiteTitle {
  display: flex;
  margin: 0;
  line-height: 1;
  font-weight: normal;
}

.linkLogo {
  font-size: 1.4rem;
  white-space: nowrap;
  display: inline-block;
  margin-left: -0.4rem;
  color: var(--blue-900);
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;

  position: absolute;
  z-index: -1;
  top: calc(var(--nav-height) + 1px);
  left: 0;
  padding: 0.5em 1em;
  min-height: var(--nav-height);
  box-sizing: border-box;
  transition: transform 160ms ease;
  transform: translateY(-100%);
  background-color: #f5f4ff;
  box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0);
}

.navigation.showNav,
.navigation:focus-within {
  transform: translateY(0%);
  box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.24);
}

.menuBtn {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  padding: 0.4em 0.8em;
  margin-inline-end: -0.8em;
  cursor: pointer;
}

.navAnchor.navAnchor {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  padding: 0.5em 0;
  margin: 0;

  font-size: 1.2em;

  --header-nav-color: var(--grey-900);
  color: var(--header-nav-color);
}

.navAnchor:hover {
  --header-nav-color: var(--blue-700);
}

.navAnchor.active,
.navAnchor.active:hover {
  --header-nav-color: var(--blue-500);
}

.navAnchor:after {
  --height: 3px;

  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  height: var(--height);
  width: var(--height);

  border-radius: calc(var(--height) * 2) calc(var(--height) * 2) 0 0;
  background-color: var(--header-nav-color);

  transition: 250ms ease;
  transition-property: opacity, width, border-radius;
}

@media (min-width: 767px) {
  .header {
    --nav-height: 60px;
  }

  .navigation {
    justify-content: flex-end;
    flex-direction: row;

    position: static;
    z-index: 0;
    padding: 0;
    transform: translateY(0%);

    box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0) !important;
    background-color: transparent;
  }

  .navAnchor.navAnchor {
    font-size: 0.9em;
  }
  .navAnchor.navAnchor:not(:last-child) {
    margin-inline-end: 1.2em;
  }

  .navAnchor:hover:after,
  .navAnchor.active:after {
    opacity: 1;
    width: calc(1em + 35%);
  }

  .menuBtn {
    display: none;
  }
}
