.footer {
  margin-top: 2rem;
  padding: 1rem 0 2rem 0;
}
.footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .copy,
.footer .navigation {
  margin: 0 -0.6rem 0 -0.6rem;
}
.copy {
  padding: 0 0.6rem;
  margin: 0;
}
.copy a {
  padding-left: 0.2rem;
  display: inline-block;
}
