.footer {
  padding: 1rem 0;
  background-color: var(--color-light);
  color: #616161;
}
.footer > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.copy {
  margin: 0 -0.6rem;
  padding: 0 0.6rem;
  padding-block-end: 0.4rem;
}
.copy a {
  padding-left: 0.2rem;
  display: inline;
  font-size: inherit;
}

@media (min-width: 768px) {
  .copy {
    padding-block-end: 0;
  }
}

.navLink:not(:last-child) {
  margin-inline-end: 1rem;
}
.navLink {
  color: inherit;
  font-size: 1rem;
}
