.footer {
  padding: 4em 0;
  font-size: 0.9em;
  color: var(--grey-900);
}

.innerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.innerFooter > :not(:last-child) {
  margin-block-end: 1em;
}

.copy {
  margin: 0 -0.6em;
  padding: 0 0.6em 0.4em 0.6em;
  font-weight: bold;
}

.copy a {
  padding-inline-start: 0.2em;
  display: inline;
  font-size: inherit;
}

@media (min-width: 768px) {
  .copy {
    padding-block-end: 0;
  }
}

.navLink:not(:last-child) {
  margin-inline-end: 2.4em;
}

.navLink {
  color: inherit;
  font-size: smaller;
  border-bottom: 2px solid transparent;
  transition: color, border-color 180ms ease;
  padding: 0.1em 0;
}

.navLink:hover {
  border-bottom-color: inherit;
}
