.contactInfo,
.linksList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contactItem {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: var(--radius);
  padding: 1.4em;
  max-width: 320px;
  width: 100%;
  box-sizing: border-box;

  transition: 190ms ease;
  transition-property: box-shadow;
}

.contactItem:not(:last-child) {
  margin-block-end: 1rem;
}

.contactItem:hover {
  box-shadow: 0 0 1px 1px rgb(37, 27, 249, 0.6);
}

.linksList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.linkItem:not(:last-child) {
  margin-block-end: 0.4em;
}

.link {
  color: var(--grey-500);
  font-size: 1.1em;
}

.linksTitle {
  margin: 0;
  margin-block-end: 0.8rem;
  font-weight: 700;
  font-size: 0.9em;
}
