html, body {
  background-color: #fff;
  min-height: 100vh;

  font-family: 'Circular Std Book', Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
body {
  --color-primary: #0F0A84;
  --color-secondary: #251BF9;
  --color-dark: #101010;
  --color-light: #f6f6f6;
  
  --transition: 0.2s ease;

  font-size: 18px;
  color: var(--color-dark);

  display: flex;
  flex-direction: column;
}
  @media (min-width: 767px) {
    body {
      font-size: 20px;
    }
  }
  @media (min-width: 1400px) {
    body {
      font-size: 24px;
    }
  }

h1, h2 {
  color: var(--color-dark);
  margin-top: 3rem;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: var(--color-secondary);
  padding: 0.6rem;
  transition: color var(--transition);
}
a.dark {
  color: var(--color-dark);
}
a:hover,
a.dark:hover {
  color: var(--color-primary);
}

.text-sm {font-size: smaller;}

.header {
  padding: 1rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-light);
}
  .header .website-title {
    text-align: center;
    margin: 0;
  }
  .header .website-title a {
    font-size: 1.6rem;
    font-family: 'Circular Std Bold';
    color: var(--color-primary);
    display: inline-block;
  }
  .link-logo::after {
    content: "h";
  }
  .link-logo::before {    
    content: "o";
  }
  .link-logo:hover::after,
  .link-logo:focus::after {
    content: "houmz";
  }
  .link-logo:hover::before,
  .link-logo:focus::before {    
    content: "omar ";
  }

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a {
    display: block;
    color: var(--color-secondary);
  }
  .navigation.dark ul li a {
    color: var(--color-dark);
  }
  .navigation ul li a.active,
  .navigation ul li a.active:hover {
    color: var(--color-dark);
  }
  .navigation.dark ul li a.active,
  .navigation.dark ul li a.active:hover {
    color: var(--color-secondary);
  }
  .navigation ul li a:hover,
  .navigation.dark ul li a:hover {
    color: var(--color-primary);
  }

.main {
  flex-grow: 1;
}
  .section a {
    padding-left: 0;
  }
  .section p {
    margin-top: 0.5em;
  }
  .section .about .coordinates {
    margin-bottom: 2rem;
  }
  .section .about .coordinates p {
    font-size: 1.1em;
    margin: 0 0 0.2rem 0;
  }
  .all-projects-list {
    list-style: none;
    padding-left: 0;
  }
  .all-projects-list li {
    margin-top: 2rem;
  }
  .all-projects-list li a {
    font-family: 'Circular Std Bold';
  }

.footer {
  margin-top: 2rem;
  padding: 1rem 0 2rem 0;
}
  .footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer .copy,
  .footer .navigation {
    margin: 0 -0.6rem 0 -0.6rem;
  }
  .copy {
    padding: 0 0.6rem;
    margin: 0;
  }
  .copy a {
    padding-left: 0.2rem;
    display: inline-block;
  }

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local('Circular Std Book'),
       url('../fonts/CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local('Circular Std Bold'),
       url('../fonts/CircularStd-Bold.woff') format('woff');
}
