.preWrapper {
  --inline-space: 1rem;
  margin: 1rem calc(-1 * var(--inline-space));
  background-color: #fbfbfb;
}

@media (min-width: 860px) {
  .preWrapper {
    --inline-space: 2rem;
  }
}

.preStyles {
  display: inline-block;
  margin: 0;
  padding: 0.5rem;

  text-align: left;
  width: 100%;
  overflow: auto;
}

.line {
  display: table-row;
}

.lineNo {
  display: table-cell;
  text-align: right;
  padding-right: 1rem;
  user-select: none;
  opacity: 0.5;
}
