.link {
  text-decoration: none;
  color: var(--color-secondary);
  padding: 0.4rem;
  margin-left: -0.4rem;
  transition: color var(--transition);
}

.link.dark {
  color: var(--color-dark);
}
.link:hover,
.link.dark:hover {
  color: var(--color-primary);
}

.link.inline {
  padding: 0;
  margin-left: 0;
}

.link.btnStyle {
  border-radius: 4px;
  transition-property: color, background-color;

  border: 1px solid;
  height: 32px;
  box-sizing: border-box;
  padding: 0 12px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.link.btnStyle:hover {
  background-color: var(--secondary-200);
}
